<h2>Add Category</h2>
<form action="/categories/add" method="POST">
  <div class="form-group">
    <label for="category">Category:</label>
    <input
      type="text"
      name="category"
      id="category"
      class="form-control"
      autofocus
    />
  </div>
  <button type="submit" class="btn btn-primary">Add Category</button>
</form>